<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div>
			<!--商品列表页面-->
			<div class="device" id="page-list">
			    <header><span class="header-title">商品列表</span></header>
			    <div class="page">
					<!-- 分类框 -->
			        <div class="tab-wrap">
			            <ul class="cate-tab">
			                <li class="cate" v-bind:class="{'tab-active': cate_index === index}" v-for="(item, index) in cate" @click="toggleCate(index)">{{ item.des }}</li>
			            </ul>
			        </div>
					<!-- 分类排序框 -->
			        <ul class="filter-bar">
			            <li class="filter-opt" v-bind:class="{'filter-active': filter_index === index, 'filter-price': item.method === 'sortPrice', 'price-down': price_isAsc, 'price-up': !price_isAsc}" v-for="(item, index) in sortMethods" @click="sortBy(item.method)">{{ item.name }}</li>
			        </ul>
					<!-- 货物列表 -->
			        <ul class="goods-list">
			            <li class="goods-item" v-for="(item, index) in list">
							<!-- 商品图片 -->
			                <div class="goods-img">
			                    <img v-bind:src="item.img" v-bind:alt="item.name">
			                    <div class="flag" v-if="item.ishot">热</div>        
			                </div>
							<!-- 商品信息 -->
			                <div class="goods-info">
			                    <p class="goods-title">{{ item.name }}</p><!-- 标题 -->
								<!-- 价格 -->
			                    <div class="goods-price">
			                        <span>¥<b>{{ item.price }}</b></span>
			                    </div>
			                    <span class="des">{{ item.sales }}人付款</span>
								<!-- 加入购物车 -->
			                    <span class="save" @click="addToCart(item)">+</span>
			                </div>
			            </li>
			        </ul>
			    </div>
			</div>
		</div>
		
		<!--购物清单页面-->
        <div class="device" id="page-cart">
            <header>
                <span class="header-title">购物清单</span>
				<!-- 编辑完成按钮 -->
                <span class="header-edit" @click="toggleDelBtn">
                    <span v-show="!delFlag">编辑</span>
                    <span v-show="delFlag">完成</span>
                </span>
            </header>
			
            <div class="page">
				<!-- 购物车列表为空 -->
                <div class="empty-states" v-if="cart.length === 0">
                    <span>这里是空的，快去逛逛吧</span>    
                </div>
				<!-- 列表不为空 -->
                <ul class="goods-list cart-list" v-else>
                    <li class="goods-item" v-for="(item, index) in cart">
						<!-- 列表选择标签 -->
                        <div class="item-selector">
                            <div class="icon-selector" v-bind:class="{'selector-active': item.checked}" @click="selectGoods(item)">
                                <svg t="1504061791962" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2922" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12">
                                    <path d="M908.288 127.488l-537.6 537.6-254.976-254.976L0 525.824l254.976 254.976 115.712 115.712L486.4 780.8l537.6-537.6z"
                                        fill="#ffffff" p-id="2923"></path>
                                </svg>
                            </div>
                        </div>
						<!-- 商品图片 -->
                        <div class="goods-img">
                            <img v-bind:src="item.img" v-bind:alt="item.name">
                        </div>
						<!-- 商品信息 -->
                        <div class="goods-info">
                            <p class="goods-title">{{ item.name }}</p>
                            <div class="goods-price">
                                <span>¥<b>{{ item.price }}</b></span>
                            </div>
                            <span class="des">库存{{ item.stock }}件</span>
                            <div class="goods-num">
                                <div class="num-btn" @click="changeQty(true, item)">+</div>
                                <div class="show-num">{{ item.quantity }}</div>
                                <div class="num-btn" @click="changeQty(false, item)">-</div>
                            </div>
                        </div>
                    </li>
                </ul>  
            </div>
			<!-- 已选择货物的操作按钮 -->
            <div class="action-bar" v-bind:class="{ 'del-box': delFlag }">
                <!-- del-box -->
                <div class="g-selector" @click="checkAll">
                    <div class="item-selector">
                        <div class="icon-selector" v-bind:class="{'selector-active': checkAllFlag}">
                            <svg t="1504061791962" class="icon" style="" viewBox="0 0 1024 1024" 
							version="1.1" xmlns="http://www.w3.org/2000/svg" 
							p-id="2922" xmlns:xlink="http://www.w3.org/1999/xlink" 
							width="12" height="12">
                                <path d="M908.288 127.488l-537.6 537.6-254.976-254.976L0 525.824l254.976 254.976 115.712 115.712L486.4 780.8l537.6-537.6z"
                                    fill="#ffffff" p-id="2923"></path>
                            </svg>
                        </div>
                    </div>
                    <span>全选</span>
                </div>
				<!-- 这里的括号只是为了显示并没有什么实质性的作用 -->
                <div class="action-btn buy-btn">去结算({{ selectedNum }})</div>
                <div class="action-btn del-btn" @click="delGoods">删除({{ selectedNum }})</div>
                <div class="total">合计：<span>¥<b>{{ totalPrice }}</b></span></div>
            </div>
        </div>
		</div>
		
		<script src="vue.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
